{% load static %}

<nav aria-label="breadcrumb ">
    <ol class="breadcrumb grey lighten-5 mb-0 pb-3">
        <li class="breadcrumb-item"><a class="black-text " href="{% url 'main:index' %}">Главная</a></li>
        {% if kitchen_recipes %}
            <li class="breadcrumb-item"><a class="black-text " href="{% url 'kitchen:recipes_all' %}">Рецепты</a></li>
            <li class="breadcrumb-item active">{{ data_page.breadcrumb_title }}</li>
        {% else %}
            <li class="breadcrumb-item active">Кулинарные рецепты</li>
        {% endif %}
    </ol>
</nav>
